@-webkit-keyframes pulse {
  0% {
    background: #000;
  }
  5% {
    background: #f00;
  }
  10% {
    background: #000;
  }
  100% {
    background: #000;
  }
}
html {
  width: 100%;
  height: 100%;
}
html body {
  display: flex;
  flex-direction: column;
  background: #333;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html body header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1 0 10px;
  transition: flex 1s cubic-bezier(0.2, 0.7, 0.2, 0.7);
  -webkit-animation: pulse 5s infinite;
  animation: pulse 5s infinite;
}
html body header * {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.2, 0.7, 0.2, 0.7);
}
html body header:hover {
  flex: 1 0 100px;
  -webkit-animation: paused;
  animation: paused;
}
html body header:hover * {
  opacity: 1;
}
html body header #logout {
  background: #f00;
  cursor: pointer;
}
html body header form input {
  margin: 2px;
  border: 1px solid #000;
  border-radius: 5px;
}
html body header form.fail input {
  border-color: #f00;
}
html body main {
  flex: 100 0 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #0f0;
}
html body main #geochat {
  flex: 1 0 10px;
  transition: flex 1s cubic-bezier(0.2, 0.7, 0.2, 0.7);
  -webkit-animation: pulse 5s infinite;
  animation: pulse 5s infinite;
  display: flex;
  flex-direction: column;
}
html body main #geochat * {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.2, 0.7, 0.2, 0.7);
}
html body main #geochat:hover {
  flex: 1 0 100px;
  -webkit-animation: paused;
  animation: paused;
}
html body main #geochat:hover * {
  opacity: 1;
}
html body main #geochat #geo {
  flex: 1;
  max-height: 200px;
}
html body main #geochat #geo #carte {
  height: 100%;
}
html body main #geochat #out {
  flex: 1;
  overflow: auto;
  height: 100px;
  word-wrap: break-word;
}
html body main #geochat #in {
  flex: 1;
  max-height: 20px;
}
html body main #cams {
  flex: 10 0 256px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #9f9;
}
html body main #cams .cam video {
  flex: 1 0 50px;
  width: 256px;
  height: 150px;
}
html body main #files {
  flex: 1 0 100px;
  overflow: hidden;
  background: #0f9;
}
html body footer {
  flex: 1 0 150px;
  background: #00f;
}
html body footer #courses-div {
  flex: 1 0 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  height: 100%;
  background: #9a9;
}
html body footer #courses-div #c-list {
  height: 100%;
  flex: 1 0 50px;
  background: #9a0;
}
html body footer #courses-div #courses-creation-form {
  height: 100%;
  flex: 1 0 50px;
  background: #9a9;
}
html body footer #courses-div #courses-details-form {
  height: 100%;
  flex: 1 0 50px;
  background: #9ad;
}
html body footer #courses-div #courses-edition-form {
  height: 100%;
  flex: 1 0 50px;
  background: #9af;
}
@-moz-keyframes pulse {
  0% {
    background: #000;
  }
  5% {
    background: #f00;
  }
  10% {
    background: #000;
  }
  100% {
    background: #000;
  }
}
@-webkit-keyframes pulse {
  0% {
    background: #000;
  }
  5% {
    background: #f00;
  }
  10% {
    background: #000;
  }
  100% {
    background: #000;
  }
}
@-o-keyframes pulse {
  0% {
    background: #000;
  }
  5% {
    background: #f00;
  }
  10% {
    background: #000;
  }
  100% {
    background: #000;
  }
}
@keyframes pulse {
  0% {
    background: #000;
  }
  5% {
    background: #f00;
  }
  10% {
    background: #000;
  }
  100% {
    background: #000;
  }
}
