html {
  width: 100%;
  height: 100%;
}
html body {
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html body header {
  flex: 1 0 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f00;
}
html body header form input {
  margin: 2px;
  border: 1px solid #000;
  border-radius: 5px;
}
html body header form.fail input {
  border-color: #f00;
}
html body main {
  flex: 100 0 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #0f0;
}
html body main #geochat {
  flex: 1 0 100px;
  display: flex;
  flex-direction: column;
}
html body main #geochat #geo {
  flex: 1;
  max-height: 200px;
}
html body main #geochat #geo #carte {
  height: 100%;
}
html body main #geochat #out {
  flex: 1;
  overflow: auto;
  height: 100px;
  word-wrap: break-word;
}
html body main #geochat #in {
  flex: 1;
  max-height: 20px;
}
html body main #cams {
  flex: 10 0 256px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #9f9;
}
html body main #cams .cam video {
  flex: 1 0 50px;
  width: 256px;
  height: 150px;
}
html body main #courses-div {
  flex: 1 0 50px;
  transition: all 1s;
  background-color: #9a9;
}
html body main #courses-div:hover {
  flex: 10 0 50px;
}
html body main #files {
  flex: 1 0 100px;
  overflow: hidden;
  background-color: #0f9;
}
html body footer {
  flex: 1 0 100px;
  background-color: #00f;
}
