section#private-repository-section
	#private-repository
	#private-file-details(style='display:none')
		label(for='private-file-details-filename') Fichier :
		label#private-file-details-filename
		br
		label(for='private-file-details-owner') Propriétaire :
		label#private-file-details-owner
section#public-repository-section
	#shared-repository
	#uploaded-files
	a#download-link(style='display:none')