html
	width 100%
	height 100%

	body
		display flex
		flex-direction column
		background-color #333
		width 100%
		height 100%
		margin 0
		padding 0
		
		header
			flex 1 0 100px
			display flex
			flex-wrap wrap
			flex-direction column
			align-items center
			justify-content center
			overflow hidden
			background-color #F00
			
			// form
			// 	flex 1 0 10px

			// nav
			//  	flex 1 0 10px
			 	
			//  button
			//  	flex 1 0 10px
			
		main
			flex 100 0 100px
			display flex
			flex-wrap wrap
			flex-direction row
			background-color #0F0
			
			#geochat
				flex 1 0 100px
				display flex
				flex-direction column
				background-color #9F0

				#geo
					flex 1
					max-height 200px
					background-color #00F
					
					#carte
						height 100%
					
				#out
					flex 1
					overflow auto
					height 100px
					background-color #0F0

				#in
					flex 1
					max-height 20px

			#cams
				flex 10 0 256px
				display flex
				flex-wrap wrap
				align-items center
				justify-content center
				overflow hidden
				background-color #9F9
				
				.cam
					video
						flex 1 0 50px
						width 256px
						height 150px

			#files
				flex 1 0 100px
				overflow hidden
				background-color #0F9

		footer
			flex 1 0 100px
			background-color #00F
